body {
    background-color: hsl(148, 48%, 95%);
}

.li {
    list-style: lower-alpha;
    border-radius: 4px;
}

.tit {
  width: 200px;
  background-color: #eeeeee;
  box-shadow: 2px 2px 2px #bbbbbb;
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  border-radius: 5x #bbbbbb;
  
}


.summary {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
.p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
  