body {
    background-color: #eee
}

ul {
    list-style-type: none;
    margin: o;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 10px 10px 10px #bbbbbb;

}
li {
   float:left
}
li a {
    display:block;
    color: #eee;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover {
    background-color: rgba(0,0,0,0.2);
}

.active {
    background-color: #4CAF50;
}

.content {
    margin-top: 100px;
    width: 600px;
    background-color: #4CAF50;
    box-shadow: 10px 10px 10px #bbbbbb;
    font-family: "Times New Roman", Times;
    font-size: 80px;
    color: #000000;
    border-radius: 100x #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}   




