body {
    background-color: hsl(150, 68%, 90%);

}

.li {
    list-style:circle;
    border-radius: 4px;
    font-family: "Times New Roman", Times;
}

.tit {
  width: 600px;
  background-color: #4CAF50;
  box-shadow: 5px 5px 5px #bbbbbb;
  font-family: "Times New Roman", Times;
  font-size: 80px;
  color: #000000;
  border-radius: 100x #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
    padding: 4px;
    width: 200px;
    background-color: #4CAF50;
    border: none;
    box-shadow: 5px 5px 5px #bbbbbb;
    cursor: pointer;
    font-family: "Times New Roman", Times;
  }
  
.p {
    padding: 4px;
    margin: 0;
    font-family: "Times New Roman", Times;
    padding: 4px;
    width: 200px;
    background-color: #4CAF50;
    border: none;
    box-shadow: 5px 5px 5px #bbbbbb;
    cursor: pointer;
    font-family: "Times New Roman", Times;
  }

  
  background-image: url("https://goplaya.cr/archivos/IMG-20161105-WA0057.jpg");
  background-size: cover; /* ajusta la imagen al tamaño del contenedor */
  background-repeat: no-repeat; /* evita que se repita la imagen */
  background-position: center center; /* centra la imagen en el contenedor */
  backdrop-filter: blur ;
  